@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
:root {
  --blue: hsl(223, 87%, 63%);
  --p-blue: hsl(223, 100%, 88%);
  --l-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --v-d-blue: hsl(209, 33%, 12%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .logo-header {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .main-heading {
  text-align: center;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container .main-heading p:nth-child(1) {
  font-size: 3rem;
  font-weight: 200;
  color: var(--gray);
}
.container .main-heading p:nth-child(1) span {
  font-size: 3rem;
  color: var(--v-d-blue);
  font-weight: 700;
}
.container .main-heading p:last-child {
  font-size: 0.9rem;
}
.container .form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .form-container form {
  margin-top: 1.7rem;
  display: flex;
  width: 80%;
  gap: 1rem;
  justify-content: center;
}
.container .form-container form .input-container input {
  border: 2px solid var(--p-blue);
  border-radius: 40px;
  outline: none;
  padding: 1rem;
  padding-left: 1.7rem;
  width: 100%;
}
.container .form-container form .input-container input.error {
  border-color: var(--l-red);
}
.container .form-container form .input-container .alert {
  padding-left: 1rem;
  padding-top: 1rem;
  color: var(--l-red);
  visibility: hidden;
  opacity: 0;
}
.container .form-container form .input-container .alert.error {
  visibility: visible;
  opacity: 1;
}
.container .form-container form .input-container ::-moz-placeholder {
  color: var(--gray);
}
.container .form-container form .input-container :-ms-input-placeholder {
  color: var(--gray);
}
.container .form-container form .input-container ::placeholder {
  color: var(--gray);
}
.container .form-container form .submit-btn {
  max-height: 24px;
  padding: 1.7rem 3rem;
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: none;
  outline: none;
  background: var(--blue);
  color: white;
  font-weight: 600;
}
.container .form-container form .submit-btn:hover {
  cursor: pointer;
  background: hsl(223deg, 68%, 66%);
  transition: all 0.3s;
}
.container .illustration {
  margin-top: 2rem;
  justify-content: center;
  width: 100%;
  display: flex;
}
.container .illustration img {
  width: clamp(365px, 50%, 1000px);
}
.container .social-icon-section {
  padding-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .social-icon-section .icon-set {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.container .social-icon-section .icon-set a {
  text-decoration: none;
  color: var(--blue);
  border: 0.1px solid var(--gray);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  transition: all 0.3s;
}
.container .social-icon-section .icon-set a:hover {
  background: var(--blue);
  color: var(--p-blue);
  transition: all 0.3s;
}
.container .social-icon-section .copy-right-desc {
  color: var(--gray);
  font-size: 0.7rem;
}

@media screen and (max-width: 870px) {
  .container .form-container #form {
    flex-direction: column;
    align-items: center;
  }
  .container .illustration img {
    width: clamp(365px, 80%, 1000px);
  }
  .input-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 650px) {
  .container .form-container form .input-container input {
    min-width: 600px;
  }
}/*# sourceMappingURL=style.css.map */