@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
:root {
  --blue: hsl(223, 87%, 63%);
  --p-blue: hsl(223, 100%, 88%);
  --l-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --v-d-blue: hsl(209, 33%, 12%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo-header {
    padding-top: 3rem;
    // background: red;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main-heading {
    text-align: center;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
      &:nth-child(1) {
        font-size: 3rem;
        font-weight: 200;
        color: var(--gray);
        span {
          font-size: 3rem;
          color: var(--v-d-blue);
          font-weight: 700;
        }
      }
      &:last-child {
        font-size: 0.9rem;
      }
    }
  }
  .form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
      // width: 100%;
      margin-top: 1.7rem;
      display: flex;
      width: 50%;
      // justify-content: space-evenly;
      gap: 1rem;
      // align-items: center;
      justify-content: center;
      .input-container {
        input {
          border: 2px solid var(--p-blue);
          border-radius: 40px;
          outline: none;
          padding: 1rem;
          padding-left: 1.7rem;
          min-width: 500px;
          &.error {
            border-color: var(--l-red);
          }
        }
        .alert {
          padding-left: 1rem;
          padding-top: 1rem;
          color: var(--l-red);
          display: none;
          &.error {
            display: block;
          }
        }
        ::placeholder {
          color: var(--gray);
        }
      }
      .submit-btn {
        max-height: 24px;
        padding: 1.7rem 3rem;
        display: flex;
        align-items: center;
        border-radius: 40px;
        border: none;
        outline: none;
        // min-width: 2rem;
        background: var(--blue);
        color: white;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          background: hsl(223, 68%, 66%);
        }
      }
    }
  }
}
